table {
    width: 100%;
}

.text-right {
    text-align: right;
}

.mat-sort-header-container {
    text-align: right;
}

.table-container {
    overflow: hidden;
    overflow-x: scroll;
}

.filter-panel {
    margin-bottom: 1rem;
}

.hidden {
    display: none;
}